/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Override browsers default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #04050a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: #04050a;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #648c94;
        padding: 1rem 1rem;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #04050a;
        z-index: 77;
}

#start {

}

/* Navigation bar */
nav {
    position: absolute;
        background-color: #648c94;
        width: 100%;
        left: 0;
        padding: 1rem 1rem;
        display: none;
        top: 100%;
        border-bottom: solid 1px #04050a;
}

#menu-bar:checked~nav {
    display: block;
}

#menu-bar {
    display: none;
}

.menu-bar-label {
    font-size: 2.5rem;
}

.active {
    font-weight: bold;
}

#nav-bar {
    list-style-type: none;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 107px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Index page */

/* Hero image */
#holding-hands {
    width: 100%;
    height: 400px;
    background: url("../images/holding-hands.jpg") no-repeat center center/cover;
    position: relative;
}

/* Info text */
main h2 {
    margin: 30px auto 20px auto;
    padding: 0 7px;
}

#info h3 {
    padding-bottom: 5px;
}

#info {
    width: 85%;
    margin: 12px auto;
}

#info div {
    margin-bottom: 15px;
}

/* Container for responsive video player */
.video {
    width: 80%;
    margin: 10px auto;
}

/* Responsive youtube code adapted from article on 
avexdesigns.com/blog/responsive-youtube-embed */
.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* About page */

/* Parent* */
#helping {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Child */
#how-to-help {
    width: 85%;
    padding-bottom: 25px;
}


#second-hand, #handtaget, #ateljen {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    margin: 5px 0 30px 0;
}

#helping h2 {
    text-align: center;
    padding-top: 7px;
}

#helping h3 {
    margin-bottom: 5px;
}

/* Kontrollera om dessa id:n kan slås ihop! */
#second-hand-image {
    background: url('../images/second-hand.jpg') no-repeat center center / cover;
}

#second-hand-image, #ateljen-image, #handtaget-image {
    height: 70vw;
    width: 70vw;
    border-radius: 20%;
    max-height: 300px;
    max-width: 300px;
}

#ateljen-image {
    background: url('../images/ateljen.jpg') no-repeat center center / cover;
}

#handtaget-image {
    background: url('../images/handtaget.jpg') no-repeat center center / cover;
}

/* Get involved page */
#interview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px;
}

#interview-image {
    background: url('../images/anna-face.jpg') no-repeat top center / cover;
    height: 70vw;
    width: 70vw;
    border-radius: 20%;
    margin-bottom: 15px;
    max-height: 400px;
    max-width: 400px;
}

#interview-text h3 {
    text-align: end;
}

#interview i {
    color: #04050a;
    font-size: 70%;
}

#sign-up {
    margin: 20px 20px;
    align-self: center;
}

#volunteer-form {
    margin-top: 15px;
}

.sign-up-form {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.sign-up-form:focus {
    background-color: #e4e5eb;
}

.field-option p {
    margin: 5px 0 2px 0;
}

.send-button, .reset-button, .home-button {
    background-color: #ceebf1;
    margin: 12px 4px 0 0;
    padding: 8px 15px; 
    border-radius: 5px;
    font-family: inherit;
}

.send-button, .home-button {
    font-weight: bold;
}

/* Respons page */
#thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#thank-you div {
    width: 85%;
    margin-bottom: 15px;
}

#email-image {
    background: url('../images/email.webp') no-repeat center center / cover;
    height: 77vw;
    width: 77vw;
    max-height: 350px;
    max-width: 386px;
}

#thank-you-text h2 {
    text-align: center;
}

.home-button {
    margin-bottom: 20px;
}

/* 404 page */
#lost {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#lost-image {
    background: url('../images/navigate.jpg') center center / cover;
    width: 80vw;
    height: 107vw;
    max-width: 400px;
    max-height: 533px;
    border-radius: 20%;
    margin-top: 20px;
}

#lost div, #lost a {
    width: 85%;
}

/* Footer */

footer {
    background-color: #648c94;
    border-top: #04050a 1px solid;
    height: 50px;
    padding-top: 7px;
}

/* Om tid fnnes. Göra så ikonerna fortsätter bvara ihop på större laptops? */
#social-list {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

#social-list li {
    font-size: 150%;
}

/* Media query */

@media screen and (min-width: 425px) {
    main {
        margin-top: 93px;
    }
}

/* Tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        border-bottom: none;
        }

    #nav-bar {
        display: flex;
    }

    #nav-bar > li {
        padding-left: 1rem;
        font-size: 110%;
    }

    .menu-bar-label {
        display: none;
    }

    #nav-bar a:hover {
        border-bottom: 1px solid #04050a;
    }

    main {
        margin-top: 91px;
    }

    #info {
        display: flex;
        flex-wrap: wrap;
    }

    #info div {
        text-align: flex-start;
        flex-basis: 300px;
        flex-grow: 1;
        padding-right: 10px;
    }

    /* About page */
        #second-hand, #handtaget, #ateljen {
            display: flex;
            width: 80%;
            align-items: center;
        }
    
    #second-hand, #handtaget {
        flex-direction: row;
        text-align: end;
    }

    #ateljen {
        flex-direction: row-reverse;
    }

    #second-hand > div,
    #handtaget > div, 
    #ateljen > div {
        flex: 50%;
        padding: 0 16px;
    }

    /* Get involved page */
    #interview {
        flex-direction: row;
    }

    #interview-image {
        width: 50%;
        align-self: flex-end;
        margin-right: 10px;
    }

    #interview-text {
        width: 40%;
        align-self: center;
        margin-left: 10px;
    }

    #sign-up {
        width: 70%;
    }
}

/* Larger screens (1440px and larger) */
@media screen and (min-width: 1440px) {
    #sign-up {
        width: 40%;
    }

    #second-hand, #handtaget, #ateljen, #how-to-help {
        width: 60%;
    }

    #thank-you div {
        width: 60%;
    }
}