/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Override browsers default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #04050a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: #04050a;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #648c94;
        padding: 1rem 1rem;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #04050a;
        z-index: 77;
}

#start {

}

/* Navigation bar */
nav {
    position: absolute;
        background-color: #648c94;
        width: 100%;
        left: 0;
        padding: 1rem 1rem;
        display: none;
        top: 100%;
        border-bottom: solid 1px #04050a;
}

#menu-bar:checked~nav {
    display: block;
}

#menu-bar {
    display: none;
}

.menu-bar-label {
    font-size: 2.5rem;
}

.active {
    font-weight: bold;
}

#nav-bar {
    list-style-type: none;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 107px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Index page */

/* Hero image */
#holding-hands {
    width: 100%;
    height: 400px;
    background: url("../images/holding-hands.jpg") no-repeat center center/cover;
    position: relative;
}

/* Info text */
#info h2 {
    margin: 10px auto 20px auto;
}

#info h3 {
    padding-bottom: 5px;
}

#info {
    width: 85%;
    margin: 12px auto;
}

#info-one, #info-two, #info-three {
    margin-bottom: 15px;
}

/* Container for responsive video player */
.video {
    width: 80%;
    margin: 10px auto;
}

/* Responsive youtube code adapted from article on 
avexdesigns.com/blog/responsive-youtube-embed */
.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
#social-network {

}

#contact {

}

/* Media query */

@media screen and (min-width: 425px) {
    main {
        margin-top: 93px;
    }
}

/* Tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        border-bottom: none;
        }

    #nav-bar {
        display: flex;
    }

    #nav-bar > li {
        padding-left: 1rem;
        font-size: 110%;
    }

    .menu-bar-label {
        display: none;
    }

    #nav-bar a:hover {
    border-bottom: 1px solid #04050a;
    }

    main {
        margin-top: 91px;
    }
}